<div id="RorVsWild.Local" class="is-<%= widget_position %>" >
  <% if @current_request %>
    <div data-barber="RorVsWild.Local" data-editor-url="<%= editor_url %>" data-request-uuid="<%= @current_request[:uuid] %>"></div>
  <% else %>
    <div data-barber="RorVsWild.Local" data-editor-url="<%= editor_url %>"></div>
  <% end %>
</div>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local">
  <div id="rorvswild-local-requests" class="rorvswild-local-panel {{containerClass}}">
    <div class="rorvswild-local-panel__header">
      <div class="rorvswild-local-panel__width-limiter">
        <a href="https://www.rorvswild.com" class="rorvswild-local-panel__logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.83 30.83">
            <polygon points="17.41 9.41 13.41 9.41 9.41 13.41 17.41 21.41 25.41 13.41 21.41 9.41 17.41 9.41"/>
            <polyline points="1.41 21.41 9.41 29.41 17.41 21.41 25.41 29.41 33.41 21.41"/>
            <polyline points="9.41 5.41 5.41 1.41 1.41 5.41"/>
            <polyline points="33.41 5.41 29.41 1.41 25.41 5.41"/>
          </svg>
        </a>

        <nav id="rorvswild-local-nav">
          <ul>
            <li data-events="click->goToRequestIndex" class="tab--requests">Requests</li>
            <li data-events="click->goToJobIndex" class="tab--jobs">Jobs</li>
            <li data-events="click->goToErrors" class="tab--errors">Errors</li>
          </ul>
        </nav>

        <span class="rorvswild-local-panel__header__icons">
          <a href="https://github.com/BaseSecrete/rorvswild" class="rorvswild-local-panel__github" title="Source code">
            <svg width="16px" height="16px" viewBox="0 0 16 16">
              <path d="M8,0 C3.58,0 0,3.58 0,8 C0,11.54 2.29,14.53 5.47,15.59 C5.87,15.66 6.02,15.42 6.02,15.21 C6.02,15.02 6.01,14.39 6.01,13.72 C4,14.09 3.48,13.23 3.32,12.78 C3.23,12.55 2.84,11.84 2.5,11.65 C2.22,11.5 1.82,11.13 2.49,11.12 C3.12,11.11 3.57,11.7 3.72,11.94 C4.44,13.15 5.59,12.81 6.05,12.6 C6.12,12.08 6.33,11.73 6.56,11.53 C4.78,11.33 2.92,10.64 2.92,7.58 C2.92,6.71 3.23,5.99 3.74,5.43 C3.66,5.23 3.38,4.41 3.82,3.31 C3.82,3.31 4.49,3.1 6.02,4.13 C6.66,3.95 7.34,3.86 8.02,3.86 C8.7,3.86 9.38,3.95 10.02,4.13 C11.55,3.09 12.22,3.31 12.22,3.31 C12.66,4.41 12.38,5.23 12.3,5.43 C12.81,5.99 13.12,6.7 13.12,7.58 C13.12,10.65 11.25,11.33 9.47,11.53 C9.76,11.78 10.01,12.26 10.01,13.01 C10.01,14.08 10,14.94 10,15.21 C10,15.42 10.15,15.67 10.55,15.59 C13.71,14.53 16,11.53 16,8 C16,3.58 12.42,0 8,0 L8,0 Z"></path>
            </svg>
          </a>
          {{#embedded}}
            <div data-events="click->collapse" class="rorvswild-local-panel__close" title="Close">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>
          {{/embedded}}
        </span>
      </div>
    </div>

    <div class="rorvswild-local-panel__content">
      <div class="rorvswild-local-panel__width-limiter">
        {{{renderBody}}}
      </div>
    </div>
    <div class="rorvswild-local-panel__footer">
      This data is not sent to rorvswild.com. <a href="https://www.rorvswild.com" class="rorvswild-local-panel__footer__link">Create an account</a> to monitor your production environment.
    </div>
  </div>

  <% if @current_request %>
    {{#embedded}}
      <div class="rorvswild-local-toggler" data-events="click->toggle" data-uuid="<%= @current_request[:uuid] %>"><%= @current_request[:runtime].round %><small>ms</small></div>
    {{/embedded}}
  <% end %>
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.RequestIndex">
  {{^requests}}
    <h2 class="rorvswild-local-panel--blank">No requests</h2>
  {{/requests}}
  {{#requests}}
    <div data-events="click->goToRequestDetail" data-uuid="{{uuid}}" class="rorvswild-local-panel__row">
      <div class="rorvswild-local-panel__name">
        <span>{{name}}</span>
        <div class="rorvswild-local-panel__path">{{path}}</div>
      </div>
      <span class="rorvswild-local-panel__runtime">{{runtime}}<small>ms</small></span>
      <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
    </div>
  {{/requests}}
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.JobIndex">
  {{^jobs}}
    <h2 class="rorvswild-local-panel--blank">No jobs</h2>
  {{/jobs}}
  {{#jobs}}
    <div data-events="click->goToJobDetail" data-uuid="{{uuid}}"" class="rorvswild-local-panel__row">
      <div class="rorvswild-local-panel__name">
        <span>{{name}}</span>
        <div class="rorvswild-local-panel__path">{{path}}</div>
      </div>
      <span class="rorvswild-local-panel__runtime">{{runtime}}<small>ms</small></span>
      <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
    </div>
  {{/jobs}}
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.RequestSummary">
  <div data-events="click->goToRequestDetail" data-uuid="{{uuid}}" class="rorvswild-local-panel__row">
    <div class="rorvswild-local-panel__name">
      <span>{{name}}</span>
      <div class="rorvswild-local-panel__path">
        {{path}}
      </div>
    </div>
    <span class="rorvswild-local-panel__runtime">{{runtime}}<small>ms</small></span>
    <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
  </div>
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.RequestDetail">
  {{#currentRequest}}
    <div class="rorvswild-local-panel__details">
      <div class="rorvswild-local-panel__details__header">
        <span class="rorvswild-local-panel__name">
          <h2 class="rorvswild-local-panel__title">{{name}}</h2>
          <span class="rorvswild-local-panel__path">
            {{path}}
          </span>
        </span>
        <span class="rorvswild-local-panel__runtime">{{runtime}}<small>ms</small></span>
        <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
      </div>
      {{> RorVsWild.Local.Sections}}
    </div>
  {{/currentRequest}}
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.JobDetail">
  {{#currentJob}}
    <div class="rorvswild-local-panel__details">
      <div class="rorvswild-local-panel__details__header">
        <span class="rorvswild-local-panel__name">
          <h2 class="rorvswild-local-panel__title">{{name}}</h2>
          <span class="rorvswild-local-panel__path">
            {{path}}
          </span>
        </span>
        <span class="rorvswild-local-panel__runtime">{{runtime}}<small>ms</small></span>
        <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
      </div>
      {{> RorVsWild.Local.Sections}}
    </div>
  {{/currentJob}}
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.Sections">
  <div class="rorvswild-local-panel__details__sections">
    {{> RorVsWild.Local.SectionImpactPerKind}}
    {{#sections}}
      {{> RorVsWild.Local.Section}}
    {{/sections}}
  </div>
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.SectionImpactPerKind">
  <ul class="rorvswild-local-panel__breakdown">
    {{#sectionsImpactPerKind}}
      <li style="width: {{impact}}%" title="{{kind}} {{impact}}%">
        <span class="rorvswild-local-panel__breakdown__label">{{kind}}</span> <span class="rorvswild-local-panel__breakdown__value">{{impact}}%</span>
      </li>
    {{/sectionsImpactPerKind}}
  </ul>
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.Section">
  <div class="rorvswild-local-panel__details__section" id="section-{{id}}">
    <div class="rorvswild-local-panel__details__section__main">
      <span class="rorvswild-local-panel__details__section__file">
        <button data-events="click->toggleCommand" data-target="#section-{{id}}" class="rorvswild-local-panel__details__section__kind"><span>{{kind}}</button>
        {{#locationUrl}}
          <a href="{{locationUrl}}" class="rorvswild-local-panel__file__name" title="Open in your editor">{{location}}</a>
        {{/locationUrl}}
        {{^locationUrl}}
          <span class="rorvswild-local-panel__file__name">{{file}}<span>:{{line}}</span></span>
        {{/locationUrl}}
      </span>
      <span class="rorvswild-local-panel__details__section__average" title="Self runtime">{{selfRuntime}}<small>ms</small></span>
      <span class="rorvswild-local-panel__details__section__impact" title="Impact">{{impact}}<small>&#37;</small></span>
    </div>

    <div class="rorvswild-local-panel__details__section__code">
      <dl>
        {{#isAsync}}
          <div>
            <dt title="Time spent as non blocking IO">Async runtime</dt>
            <dd>{{asyncRuntime}}<small>ms</small></dd>
          </div>
        {{/isAsync}}
        <div>
          <dt title="self + children">Total runtime</dt>
          <dd title="{{selfRuntime}} + {{childrenRuntime}}">{{totalRuntime}}<small>ms</small></dd>
        </div>
        <div>
          <dt title="total - self">Children runtime</dt>
          <dd title="{{totalRuntime}} - {{selfRuntime}}">{{childrenRuntime}}<small>ms</small></dd>
        </div>
        <div>
          <dt title="total - children">Self runtime</dt>
          <dd title="{{totalRuntime}} - {{childrenRuntime}}">{{selfRuntime}}<small>ms</small></dd>
        </div>
        <div>
          <dt>Calls</dt>
          <dd class="dd--calls">{{calls}}<small>x</small></dd>
        </div>
        <div>
          <dt title="self runtime / calls">Average runtime</dt>
          <dd title="{{selfRuntime}} / {{calls}}">{{averageRuntime}}<small>ms</small></dd>
        </div>
      </dl>
      {{#command}}
        <pre><code class="{{language}}">{{command}}</code></pre>
      {{/command}}
    </div>
  </div>
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.ErrorIndex">
  {{^errors}}
    <h2 class="rorvswild-local-panel--blank">No errors</h2>
  {{/errors}}
  {{#errors}}
    <div data-events="click->goToErrorDetail" data-uuid="{{uuid}}" class="rorvswild-local-panel__row rorvswild-local-panel__error">
      <div class="rorvswild-local-panel__name">
        <span>{{exception}}</span> {{shortMessage}}
        <div class="rorvswild-local-panel__path">{{file}}:{{line}}</div>
      </div>
      <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
    </div>
  {{/errors}}
</script>

<script type="x-tmpl-mustache" data-partial="RorVsWild.Local.ErrorDetail">
  {{#currentError}}
    <div class="rorvswild-local-panel__details rorvswild-local-panel__error">
      <div class="rorvswild-local-panel__details__header">
        <span class="rorvswild-local-panel__name">
          <h2 class="rorvswild-local-panel__title">{{exception}}</h2>
          <span class="rorvswild-local-panel__path">
            {{#locationUrl}}
              <a href="{{locationUrl}}" class="rorvswild-local-panel__file__name" title="Open in your editor">{{file}}:{{line}}</a>
            {{/locationUrl}}
            {{^locationUrl}}
              {{file}}:{{line}}
            {{/locationUrl}}
          </span>
        </span>
        <span class="rorvswild-local-panel__started-at">{{queuedAt}}</span>
      </div>

      {{#message}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Message</h3>
          <code><pre class="language-none">{{message}}</pre></code>
        </div>
      {{/message}}

      <div class="rorvswild-local-panel__card">
        <h3 class="rorvswild-local-panel__card__title">Backtrace</h3>
        {{#compactBacktraceLocations}}
          <pre class="language-markup"><a href="{{url}}" class="rorvswild-local-panel__file__name" title="Open in your editor">{{path}}</a></pre>
        {{/compactBacktraceLocations}}
        <details>
          <summary>
            view full trace
          </summary>
          <code><pre class="language-none">{{formattedBacktrace}}</pre></code>
        </details>
      </div>

      {{#request}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Request</h3>
          <dl>
            <div><dt>name</dt><dd>{{name}}</dd></div>
            <div><dt>method</dt><dd>{{method}}</dd></div>
            <div><dt>URL</dt><dd>{{url}}</dd></div>
          </dl>
        </div>
      {{/request}}

      {{#job}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Job</h3>
          <dl>
            <div><dt>name</dt><dd>{{name}}</dd></div>
          </dl>
        </div>
      {{/job}}

      {{#hasParameters}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Parameters</h3>
          <pre class="language-json"><code>{{parametersInJson}}</code></pre>
        </div>
      {{/hasParameters}}

      {{#hasRequestHeaders}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Headers</h3>
          <dl>
            {{#eachRequestHeader}}
              <div>
                <dt>{{name}}</dt><dd>{{value}}</dd>
              </div>
            {{/eachRequestHeader}}
          </dl>
        </div>
      {{/hasRequestHeaders}}

      {{#hasContext}}
        <div class="rorvswild-local-panel__card">
          <h3 class="rorvswild-local-panel__card__title">Context</h3>
          <dl>
            {{#eachContext}}
              <div>
                <dt>{{name}}</dt><dd>{{value}}</dd>
              </div>
            {{/eachContext}}
          </dl>
        </div>
      {{/hasContext}}

      <div class="rorvswild-local-panel__card">
        <h3 class="rorvswild-local-panel__card__title">Environment</h3>
        <dl>
          {{#eachEnvironment}}
            <div>
              <dt>{{name}}</dt><dd>{{value}}</dd>
            </div>
          {{/eachEnvironment}}
        </dl>
      </div>
    </div>
  {{/currentError}}
</script>

<link rel="stylesheet" media="all" href="/rorvswild.css"/>
<script src="/rorvswild.js"></script>
